<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs")%>
    <section class="container">
        <div class="main">
            <p>This is the main Page!</p>
            <p>
                <a href="/login" class="link">Go to Login Page!</a></p>
        </div>
    </section>
    <%- include("./partials/footer.ejs") %>
</body>
</html>